<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="../css/popup.css" rel="stylesheet" type="text/css">
  <script src="../js/jquery-3.5.0.min.js" type="text/javascript"></script>
  <script src="../js/main.js"></script>
  <title>Sugar for Support</title>
</head>
<body>
  <div class="main-container">
    <span class="h1">Sugar For Support</span>
    <hr class="hr_long">
    <div class="setting">
      <div class="setting__name">
        <span class="toggle__name">Webim</span>
        <span class="toggle__name">CRM</span>
        <span class="toggle__name">Confluence</span>
      </div>
      <div class="setting__nightmode">
        <span class="setting__name_ngm">Night Mode</span>
        <label class="toggle__label">
          <input type="checkbox" class="toggle__input">
          <span class="toggle__fake-input" data-on='Вкл' data-off='Выкл' id="webim_nightmode"></span>
          <span class="toggle__fake-input-circle"></span>
        </label>
        <label class="toggle__label">
          <input type="checkbox" class="toggle__input">
          <span class="toggle__fake-input" data-on='Вкл' data-off='Выкл' id="crm_nightmode"></span>
          <span class="toggle__fake-input-circle"></span>
        </label>
        <label class="toggle__label">
          <input type="checkbox" class="toggle__input">
          <span class="toggle__fake-input" data-on='Вкл' data-off='Выкл' id="confluence_nightmode"></span>
          <span class="toggle__fake-input-circle"></span>
        </label>
      </div>
      <div class="setting__upgrade">
        <span class="setting__name_up">Upgrade</span>
        <label class="toggle__label">
          <input type="checkbox" class="toggle__input">
          <span class="toggle__fake-input" data-on='Вкл' data-off='Выкл' id="webim_upgrade"></span>
          <span class="toggle__fake-input-circle"></span>
        </label>
        <label class="toggle__label">
          <input type="checkbox" class="toggle__input">
          <span class="toggle__fake-input" data-on='Вкл' data-off='Выкл' id="crm_upgrare"></span>
          <span class="toggle__fake-input-circle"></span>
        </label>
        <label class="toggle__label">
          <input type="checkbox" class="toggle__input">
          <span class="toggle__fake-input" data-on='Вкл' data-off='Выкл' id="confluence_upgrade"></span>
          <span class="toggle__fake-input-circle"></span>
        </label>
      </div>
    </div>
    <hr class="hr_short">
    <span class="button__eng">ENG</span>
  </div>
  <span>Это меню пока не работает, в след обновлениях всё будет)</span>
  <script src="../js/popup.js"></script>
</body>
</html>